// ***** Borders ***** //
$border-radius-none: 0;
$border-radius-sm: 6px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;
$border-radius-xxl: 24px;
$border-radius-circle: 50%;

$border-width-sm: 0.5px;
$border-width-md: 1px;
$border-width-lg: 2px;

// ***** Spacing ***** //
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-64: 64px;

// ***** Color Palette ***** //
// **** see https://ant.design/docs/spec/colors **** //
$color-yellow-5: #f7f7d7;
$color-yellow-10: #dde475;
$color-yellow-20: #bdd004;
$color-yellow-30: #a7b70f;
$color-yellow-40: #ffec3d;
$color-yellow-50: #bae637;
$color-yellow-60: #697117;
$color-yellow-70: #555b17;
$color-yellow-80: #424615;
$color-yellow-90: #303212;
$color-orange-5: #f7f7d7;
$color-orange-10: #dde475;
$color-orange-20: #bdd004;
$color-orange-30: #a7b70f;
$color-orange-40: #ffa940;
$color-orange-50: #bae637;
$color-orange-60: #697117;
$color-orange-70: #555b17;
$color-orange-80: #424615;
$color-orange-90: #303212;
$color-lime-5: #f7f7d7;
$color-lime-10: #dde475;
$color-lime-20: #bdd004;
$color-lime-30: #a7b70f;
$color-lime-40: #bae637;
$color-lime-50: #bae637;
$color-lime-60: #697117;
$color-lime-70: #555b17;
$color-lime-80: #424615;
$color-lime-90: #303212;
$color-raspberry-5: #fff2f4;
$color-raspberry-10: #ffd1db;
$color-raspberry-20: #ffafc1;
$color-raspberry-30: #fb8ca8;
$color-raspberry-40: #f46790;
$color-raspberry-50: #e1487a;
$color-raspberry-60: #ba3e66;
$color-raspberry-70: #953552;
$color-raspberry-80: #712b40;
$color-raspberry-90: #50212e;
$color-grape-5: #f9f3fb;
$color-grape-10: #e9d7f0;
$color-grape-20: #d9bbe5;
$color-grape-30: #c99fdb;
$color-grape-40: #b883d0;
$color-grape-50: #a668c5;
$color-grape-60: #8e53ab;
$color-grape-70: #724489;
$color-grape-80: #583668;
$color-grape-90: #3e2749;
$color-agave-5: #edf7f8;
$color-agave-10: #c2e3e7;
$color-agave-20: #95cfd6;
$color-agave-30: #63bbc5;
$color-agave-40: #01a7b5;
$color-agave-50: #138f9a;
$color-agave-60: #1a7780;
$color-agave-70: #1c6067;
$color-agave-80: #1b4a4f;
$color-agave-90: #173538;
$color-accent-warning-5: #fff4df;
$color-accent-warning-10: #ffd88d;
$color-accent-warning-20: #ffb81a;
$color-accent-warning-30: #e3a20b;
$color-accent-warning-40: #c58d12;
$color-accent-warning-50: #a87915;
$color-accent-warning-60: #8c6516;
$color-accent-warning-70: #715215;
$color-accent-warning-80: #573f14;
$color-accent-warning-90: #3e2e11;
$color-accent-danger-5: #fff2f2;
$color-accent-danger-10: #ffd2d2;
$color-accent-danger-20: #ffb1b2;
$color-accent-danger-30: #fc8e92;
$color-accent-danger-40: #f56a74;
$color-accent-danger-50: #ec3e58;
$color-accent-danger-60: #d60942;
$color-accent-danger-70: #ab1636;
$color-accent-danger-80: #82192b;
$color-accent-danger-90: #5b1820;
$color-accent-info-5: #f3f5fc;
$color-accent-info-10: #d4dcf4;
$color-accent-info-20: #b5c5ed;
$color-accent-info-30: #95aee5;
$color-accent-info-40: #7297dd;
$color-accent-info-50: #4782d4;
$color-accent-info-60: #096dc4;
$color-accent-info-70: #19589c;
$color-accent-info-80: #1c4476;
$color-accent-info-90: #1b3052;
$color-neutral-0: #ffffff;
$color-neutral-5: #f4f7f9;
$color-neutral-10: #e2e9ee;
$color-neutral-15: #d0dce3;
$color-neutral-20: #c0ced6;
$color-neutral-25: #b2c0c8;
$color-neutral-30: #a5b3b9;
$color-neutral-35: #98a5aa;
$color-neutral-40: #8c989c;
$color-neutral-45: #808b8e;
$color-neutral-50: #747e81;
$color-neutral-55: #687174;
$color-neutral-60: #5d6467;
$color-neutral-65: #52585b;
$color-neutral-70: #474c4e;
$color-neutral-75: #3c4043;
$color-neutral-80: #323537;
$color-neutral-85: #282a2c;
$color-neutral-90: #1e2021;
$color-neutral-95: #151616;
$color-neutral-100: #000000;
$color-shadow-0: rgb(255, 255, 255, 0);
$color-shadow-5: rgba(0, 51, 102, 0.05);
$color-shadow-20: rgba(0, 51, 102, 0.2);
